<html>


<head>
	<title>Ecenin blogu
	</title>
	<h1>Hello!</h1>
	<h2>Welcome!</h2>
</head>

<body>
	<em>Now it works!</em>
	<p>Go to Google for God's sake, what are you doing here?</p>
	<a href="https://www.google.com.tr">Here's a link for you. I am such a good person you guys!</a>
</body>

{% for post in posts %}
	<div>
		<p>published : {{post.published_date}}
		</p>
		<p>
			author : {{post.author}}
		</p>
		<h1>
			<a href="">{{ post.title }} </a>
		</h1>
		<p> {{post.text|linebreaksbr }}</p>
	</div>
	{% endfor %}

</html>