{% load staticfiles %}

<html>


<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<title>Ecenin blogu
	</title>
</head>

<div class="page-header">
    <h1><a href="/">Hello!</a></h1>
    <h1><a href="/">Welcome!</a></h1>
</div>

<body>
	<em>Now it works!</em>
	<p>Go to Google for God's sake, what are you doing here?</p>
	<a href="https://www.google.com.tr">Here's a link for you. I am such a good person you guys!</a>
</body>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</html>